.hero {
  position: relative;
  z-index: 2;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  max-width: 900px;
  padding: 0 40px;
  text-align: center;
}

/* JUDUL */
.glitch {
  position: relative;

  font-size: clamp(3rem, 8vw, 5.5rem);
  font-weight: 600;
  letter-spacing: 0.18em;

  color: var(--accent);
  white-space: nowrap;
}

/* SUBTITLE */
.subtitle {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.4em;
  color: var(--muted);
}
